@import "common/_layout";

.wrap {

}

.demo-wrap {
    position: relative;
    height:100%;
    //display: table;
    width:100%;
    .demo-sider {
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        vertical-align: top;
        width: 400px;
        margin-right: -1px;
        border-right: 1px solid #ccc;
        background: #F4EAD5;
        .ctrl-box {
            //background: #ebebeb;
            width: 360px;
            padding: 30px 0 10px;
            border-bottom: 1px dashed #ccc;
            margin: 0 auto;
        }
        .mod-box {
            width: 360px;
            margin: 0 auto;
            padding: 20px 0;
        }
    }
    .demo {
        //float: left;
        margin-left: 400px;
        height: 100%;
        vertical-align: top;
        overflow: hidden;
        background: #ebebeb;
        .demo-fixed{
            overflow-x: auto;
        }
    }
    .demo-fixed{
        height:100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.form-item {
    width: 100%;
    margin-bottom: 20px;
    .form-title {
        font-size: 14px;
        margin-bottom: 5px;
        color: #333;
    }
    .form-fill {
        input[type='text'],textarea{
            box-sizing: border-box;
            width: 100%;
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding:0 10px;
        }
        textarea{
            height: 102px;
            padding: 5px 10px;
        }
    }
    .btn {
        float: left;
        width: 170px;
        margin: 0 5px;
    }

    .form-box{
        margin-bottom: 5px;
        .form-title-s{
            display: block;
            color: #666;
            font-weight: normal;
        }
    }
    .error{
        border-color: #f00 !important;
    }
}

.btn {
    box-sizing: border-box;
    width: 120px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    color: #333;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.btn-main{
    background: #9E7C72;
    color: #fff;
    border: 0;
}



.mod-space {
    position: relative;
    z-index: 1;
    cursor: pointer;
    * {
        z-index: 0;
    }

}
.mod-space:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.mod-space:hover:before {
    border: 3px dashed #9E7C72;
}



.mod-edit{
    position: relative;
    .edui-container{
        box-shadow: none;
        border-radius: 3px;
        .edui-toolbar {
            box-shadow: none;
        }
    }
    .edui-combobox-menu{
        z-index: 99;
    }
    .form-item{
        position: absolute;
        top:0;
        left: -400px;
        transition: all .5s;
    }
    .open{
        left: 0;
    }
}


.code-pop{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(198, 198, 198, 0.5);
    z-index:1000;
    display: none;
    .code{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width:500px;
        height: 600px;
        background: #fff;
        padding: 30px;
        border: 1px solid #acacac;
        .close{
            position: absolute;
            display: block;
            width: 30px;
            height:30px;
            text-align: center;
            top: 2px;
            right: 4px;
            font-size: 14px;
            line-height:30px;
            cursor: pointer;
            color: #f00;
        }
        textarea{
            box-sizing: border-box;
            width: 500px;
            height: 600px;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 10px;
            resize: none;
        }
    }
}
